
@{
    ViewBag.Title = "DataTable1";
}
<h2>Data Table 1</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Item 1</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Item 2</td>
            <td>200</td>
        </tr>
    </tbody>
</table>

