
@{
    ViewBag.Title = "DataTable2";
}

<h2>Data Table 2</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product A</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Product B</td>
            <td>$20</td>
        </tr>
    </tbody>
</table>

